<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=500%">
  <title></title>
  <link rel="stylesheet" href="css/style_main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/all.min.css" />
  <link rel="stylesheet" href="css/fontawesome.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Piedra&family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/appchunk.css">
  <link rel="stylesheet" href="css/multiwidgetpage.css">
  <link rel="stylesheet" href="css/productchunk.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="../package/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/item.css">
</head>

<body>
  <section class="top-section">
    <div class="container-fluid" style="text-align:center;z-index:1">

      <div class="row">
        <div class="col-lg-6">
          <div class="container name">
            <a href="/main"><img src="logo.jpeg" width=70px></a>
            <span style="margin-left:2rem;">Dheeru's Kart</span>
          </div>

        </div>
        <div class="col-lg-4" ">
          <div class=" search-box">
          <input type="text" placeholder="Type to search" name="" value="" class="search-txt">
          <a href="#" class="search-btn"><i class="fas fa-search"></i></a>
        </div>
      </div>


      <div class="col-lg-2" style="z-index:1;>
          <a href=" #" style="z-index:1;margin-top:2rem;"><button type="button" class="btn1 nav-btn"><i class="fas fa-shopping-cart " style="margin-right:10px"></i>Cart</button></a>
        <a href="/logout" style="z-index:1;margin-top:2rem;"><button type="button" class="btn1 nav-btn"><i class="fas fa-sign-out-alt" style="margin-right:10px"></i>logout</button></a>

      </div>


    </div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #36096d;text-align:center;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="background-color:white">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarNavDropdown" style="text-align:center;justify-content:center;align-items:center;padding-bottom:2rem;">
        <ul class="navbar-nav" style="line-height:3">
          <li class="nav-item dropdown" style="padding-right:1rem;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
              Staples
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#feceab">
              <form action="/product" id = "item" method="post">
                <button class="dropdown-item" name = "name" value="Dal#0" type="submit">Dals</button>
                <button class="dropdown-item" name = "name" value="Oil#0" type="submit">Oils</button>
                <button class="dropdown-item" name = "name" value="Flour#0" type="submit">Flours</button>
                <button class="dropdown-item" name = "name" value="Soya#0" type="submit">Soya</button>
                <button class="dropdown-item" name = "name" value="Ghee#0" type="submit">Ghee</button>
                <button class="dropdown-item" name = "name" value="Spices#0" type="submit">Spices</button>
                <button class="dropdown-item" name = "name" value="Masala#0" type="submit">Masalas</button>
                <button class="dropdown-item" name = "name" value="Rice#0" type="submit">Rice</button>
                <button class="dropdown-item" name = "name" value="Groundnut#0" type="submit">Groundnut</button>
                <button class="dropdown-item" name = "name" value="Atta#0" type="submit">Atta</button>
              </form>
            </div>
          </li>
          <li class="nav-item dropdown" style="padding-right:1rem;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
              Snacks & Beverages
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#feceab">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown" style="padding-right:1rem;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
              Packaged Food
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#feceab">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item dropdown" style="padding-right:1rem;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
              Personal & Baby Care
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#feceab">
              <button class="dropdown-item" name = "name" value="dal" type="submit">Dals</button>
              <button class="dropdown-item" name = "name" type="Oils">Oils</button>
              <button class="dropdown-item" name = "name" type="submit">Flours</button>
            </div>
          </li>
          <li class="nav-item dropdown" style="padding-right:1rem;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
              Household Care
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#feceab">
              <form action="/item" id = "item" method="post">
                <button class="dropdown-item" name = "name" value="Shampoo" type="submit">Dals</button>
                <button class="dropdown-item" name = "name" type="" type="submit">Oils</button>
                <button class="dropdown-item" name = "name" type="submit" type="submit">Flours</button>
              </form>
            </div>
          </li>
          <li class="nav-item dropdown" style="padding-right:1rem;">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
              Dairy & Eggs
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#feceab">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    </div>
  </section>

  <section class="gallery-section">
    <div class="container-fluid" style="background-color:white">
      <div class="row" >
        <div class="col-lg-2" style="margin-top:2rem;background-color:white;text-align:center" >
          <%for(let i = 0;i < product_details[0].images.length ;i++){%>
          <a href=<%= product_details[0].images[i] %> target="imgBox" class="thumb" style = "border:0.2rem solid #93b5e1"><img src=<%= product_details[0].images[i] %> ></a>
          <%}%>

        </div>
        <div class="col-lg-4" style="background-color:white">
          <div class="container imgBox">
            <img src= <%= product_details[0].images[0] %> >
        </div>
      </div>
      <div class="col-lg-6" style="background-color:#ffe4e4;padding-top:2rem">
        <div  style="padding:0px 0px 0px 24px">

          <div class="_3gijNv col-12-12">
            <div class="_29OxBi">
              <div>
                <h1 class="_9E25n"><span class="5KyD6" style="font-family: 'Sora', sans-serif;"><b><%= product_details[0].name %></b>
                    <!-- -->&nbsp;&nbsp;</span></h1>
              </div>
              <div class="_2XDAh9"><span>Special price</span></div>
              <div class="_3iZgFn">
                <div class="_2i1QSc">
                  <div class="_1uv9Cb">
                    <div class="_1vC4OE _3qQ9m1">₹<%=product_details[0].final_price%></div>
                    <div class="_3auQ3N _1POkHg">₹
                      <!-- --><%=product_details[0].Actual_price%></div>
                    <div class="VGWI6T _1iCvwn"><span><%=product_details[0].discount%>% off</span></div>
                  </div>
                </div>

                <div class="_2_wTiv">@2/L</div>
              </div>
            </div>
          </div>
          <div class="_3gijNv col-12-12">
            <div class="_1wg1IU">
              <div class="edKlv2">Available offers</div>
            </div>
            <div class="_3nSGUy">
              <div class="_2RzXYa">
                <div class="_3D89xM"><span class="_7g_MLT row"><img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                    <li class="_2-n-Lg col"><span class="_2YJn2R">Bank Offer</span><span>5% Unlimited Cashback on Flipkart Axis Bank Credit Card</span>
                      <div class="_20yN1P _3eQYiv"><span class="MBd8C2">T&amp;C</span></div>
                    </li>
                  </span><span class="_7g_MLT row"><img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                    <li class="_2-n-Lg col"><span class="_2YJn2R">Bank Offer</span><span>5% off* with Axis Bank Buzz Credit Card</span>
                      <div class="_20yN1P _3eQYiv"><span class="MBd8C2">T&amp;C</span></div>
                    </li>
                  </span><span class="_7g_MLT row"><img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90" width="18" height="18" class="_3Amlen">
                    <li class="_2-n-Lg col"><span class="_2YJn2R">Special Price</span><span>Get extra 98% off (price inclusive of discount)</span>
                      <div class="_20yN1P _3eQYiv"><span class="MBd8C2">T&amp;C</span></div>
                    </li>
                  </span><span class="_7g_MLT row"><img src="https://rukminim1.flixcart.com/www/36/36/promos/06/09/2016/49f16fff-0a9d-48bf-a6e6-5980c9852f11.png?q=90" width="18" height="18" class="_3Amlen">
                    <li class="_2-n-Lg col"><span>No Cost EMI on Flipkart Axis Bank Credit Card</span>
                      <div class="_20yN1P _3eQYiv"><span class="MBd8C2">T&amp;C</span></div>
                    </li>
                  </span></div>
              </div>
            </div>
          </div>
          <div class="_3gijNv col-12-12">
            <div class="_3T438a"><img class="_3aFOj0" src="https://rukminim1.flixcart.com/www/32/32/promos/25/06/2018/5f5e0f11-380c-4f0e-be13-b7763474b66b.png?q=90">
              <div>
                <div class="vo83_8">Best before 27 Dec 2020</div>
                <div class="_11hu5N">Manufactured date 01 Jul 2020</div>
              </div>
            </div>
          </div>
          <div class="_3gijNv col-12-12">
            <div class="row _3BQX6v">
              <div class="col ZlPAkh">
                <div class="_20aOSn">
                  <div class="_6xSBsc">Delivery</div>
                  <div class="xVBsIm">
                    <div class="_3Oywxf zIWjRA">
                      <div class="_2CeYHY _1udgbK"></div>
                      <div class="_2my7m5">
                        <div class="_2IqPSX"><svg width="12" height="12" viewBox="0 0 9 12" class="_3VH2pM" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#2874f0" class="_16TkYi"
                              d="M4.2 5.7c-.828 0-1.5-.672-1.5-1.5 0-.398.158-.78.44-1.06.28-.282.662-.44 1.06-.44.828 0 1.5.672 1.5 1.5 0 .398-.158.78-.44 1.06-.28.282-.662.44-1.06.44zm0-5.7C1.88 0 0 1.88 0 4.2 0 7.35 4.2 12 4.2 12s4.2-4.65 4.2-7.8C8.4 1.88 6.52 0 4.2 0z"
                              fill-rule="evenodd"></path>
                          </svg>
                          <form autocomplete="off" class="EJrIpC"><input type="text" class="_3X4tVa" placeholder="Enter Delivery Pincode" value="506001" maxlength="6" id="pincodeInputId"></form>
                          <div class="_2VTdOs _2VB0Iw _1udgbK"><svg class="_2zN0mv" viewBox="25 25 50 50">
                              <circle stroke="#0057e7" class="_1VgS7d" cx="50" cy="50" r="10" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
                            </svg></div><span class="_2aK_gu">Change<div class="_11cw91 _2jiIfZ _1VbEkR  _3HQXAr E753YP _3fm5As _1SD9nm S3vLVv">
                              <div class="_2h52bo _15sV4W _3sqwCr">Check pincode<button class="_2AkmmA DoInvC">✕</button></div>
                            </div></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="_3l12t9">
                  <div class="_2h4rON">
                    <ul class="_2NRVyd">
                      <div class="_2hPDlf">
                        <div class="_29Zp1s">Delivery in<span class="_3nCwDW">2 Days, Tuesday</span><span class="_3Rs1j7">|</span><span class="_3EaKlN">₹
                            <!-- -->50</span>
                          <div class="_20yN1P"><span class="question">?</span></div>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="_3iFbhc">
                <div class="row">
                  <div class="col col-1-12"><img
                      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTEgOSI+PHBhdGggZmlsbD0iIzM4OEUzQyIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiMzODhFM0MiIHN0cm9rZS13aWR0aD0iLjUiIGQ9Ik00LjE0OCA3Ljg1MmEuMjA1LjIwNSAwIDAgMS0uMjkzLjAwM2wtMi43MS0yLjcxYS4yMDQuMjA0IDAgMCAxLS4wMDYtLjI4NGwuNzItLjcyYS4yMDIuMjAyIDAgMCAxIC4yODQuMDA0TDQgNmw0Ljg1Ni00Ljg1NmMuMDgtLjA4LjIxLS4wNzguMjgzLS4wMDVsLjcyLjcyYy4wNzguMDc4LjA3My4yMDctLjAxLjI4OGwtNS43IDUuNzA0eiIvPjwvc3ZnPg==">
                  </div>
                  <div class="_1eYe6P col col-11-12">Schedule delivery at your convenience</div>
                </div>
              </div>
            </div>
          </div>
          <div class="_3gijNv col-12-12">
            <div class="rPoo01">
              <div class="_37KLG6 col col-12-12">
                <div class="_2a2WU_"><span id="Quantity" class="_1lwQLq">Quantity</span>
                  <ul class="fUBI-_">
                    <li class="_3hSwtk" id="swatch-0-quantity"><a class="_1TJldG _3c2Xi9"
                        href="/freedom-refined-sunflower-oil-pouch/p/itmey7ye5ubdzzk3?pid=EDOFZBSVRXWGQFUG&amp;lid=LSTEDOFZBSVRXWGQFUG6ORBAA&amp;marketplace=GROCERY&amp;sattr[]=quantity&amp;st=quantity&amp;otracker=clp_basket_pmu_Today%252527s%252BSteal%252BDeals_3_7.cartPMU.BASKET_PMU_Today%252527s%252BSteal%252BDeals_grocery-supermart-store_EDOFZBSVRXWGQFUG">500
                        ml<span class="cjX_0d">
                          <!-- -->@2/L
                          <!-- --> </span></a>
                      <div class="_11cw91 _1-fCbU E753YP DgCx9f">
                        <div class="_2h52bo _15sV4W _3xOS0O">500 ml</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="_11cw91 _2uva0I _3HQXAr E753YP _3X27rX _11uvZG">
                  <div class="_2h52bo _15sV4W"><span>Please select a Quantity to proceed</span><button class="_2AkmmA DoInvC">✕</button></div>
                </div>
              </div>
            </div>
          </div>
          <div class="ooJZfD _3FGKd2" style="padding:24px 0px 0px 0px">
            <div class="_3gijNv col-6-12">
              <div class="g2dDAR">
                <div class="_2hqjdd">Highlights</div>
                <div class="_3WHvuP">
                  <ul>
                    <% for(let i = 0; i < product_details[0].Highlights.length;i++) {%>
                    <li class="_2-riNZ"><%=product_details[0].Highlights[i]%></li>
                    <%}%>
                  </ul>
                </div>
              </div>
            </div>
            <div class="_3gijNv col-6-12">
              <div class="_3aj0Jp flex">
                <div class="_3KRH50">Services</div>
                <ul class="_77jr7B">
                  <li class="_3tB8QY">
                    <div class="_2nAcMv _2o43H4"></div>
                    <div class="_20PGcF">Easy Doorstep Return<div class="_20yN1P"><span class="question">?</span></div>
                    </div>
                  </li>
                  <li class="_3tB8QY">
                    <div class="_2nAcMv _3l9Lxq"></div>
                    <div class="_20PGcF">Schedule your delivery<div class="_20yN1P"><span class="question">?</span></div>
                    </div>
                  </li>
                  <li class="_3tB8QY">
                    <div class="_2nAcMv _2dTU7i"></div>
                    <div class="_20PGcF">Cash on Delivery available<div class="_20yN1P"><span class="question">?</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="ooJZfD _2oZ8XT">
            <div class="ooJZfD _3FGKd2" style="padding:24px 0px 0px 0px">
              <div class="_3gijNv col-6-12" style="padding:0px 12px 0px 0px">
                <div data-tkid="lo_cco:78738b50-cf13-5582-3ee9-363587a99fcd.ct:COIN_CONVERSION_OVERLAY;">
                  <div class="_2lQ8be">
                    <div class="_3JlYXy" style="padding-top:23.89%">
                      <div class="_2tnqd0 _3ZJShS" style="padding-top:23.89%"><img class="_232NW7 dImZt_" alt="" src="https://rukminim1.flixcart.com/lockin/774/185/images/CCO__PP_2019-07-14.png?q=50"><img class="_2VeolH _3I5S6S"
                          src="https://rukminim1.flixcart.com/lockin/100/24/images/CCO__PP_2019-07-14.png?q=50" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="_3gijNv col-12-12">
              <div class="_34wn58">
                <div class="_1pQ2tg"><span>Seller</span></div>
                <div>
                  <div id="sellerName" class="_3HGjxn"><span><span>SuperComNet</span>
                      <div class="hGSR34 YddkNl">4.6<img
                          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMiI+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTYuNSA5LjQzOWwtMy42NzQgMi4yMy45NC00LjI2LTMuMjEtMi44ODMgNC4yNTQtLjQwNEw2LjUuMTEybDEuNjkgNC4wMSA0LjI1NC40MDQtMy4yMSAyLjg4Mi45NCA0LjI2eiIvPjwvc3ZnPg=="
                          class="_2lQ_WZ"></div>
                    </span></div>
                </div>
              </div>
            </div>
            <div class="_3gijNv col-12-12">
              <div class="MocXoX">
                <div class="_2GiuhO">Specifications</div>
                <div>
                  <div class="_3Rrcbo">
                    <div class="_2RngUh">
                      <div class="_2lzn0o">In The Box</div>
                      <table class="_3ENrHu">
                        <tbody>
                          <%for(let i = 0;i < product_details[0].Specifications.length;i++){%>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12"><%=product_details[0].Specifications[i][0]%></td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA"><%=product_details[0].Specifications[i][1]%></li>
                              </ul>
                            </td>
                          </tr>
                          <% } %>
                          <!-- <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Model Name</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">Refined</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Type</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">Sunflower Oil</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Quantity</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">500 ml</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Used For</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">Cooking</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Processing Type</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">Refined</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Maximum Shelf Life</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">6 Months</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Food Preference</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">Vegetarian</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Container Type</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">Pouch</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Organic</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">No</li>
                              </ul>
                            </td>
                          </tr>
                          <tr class="_3_6Uyw row">
                            <td class="_3-wDH3 col col-3-12">Added Preservatives</td>
                            <td class="_2k4JXJ col col-9-12">
                              <ul>
                                <li class="_3YhLQA">No</li>
                              </ul>
                            </td>
                          </tr> -->
                        </tbody>
                      </table>
                    </div>
                    <div class="_2RngUh">
                      <div class="_2lzn0o">Important Note</div>
                      <table class="_3ENrHu">
                        <tbody>
                          <tr class="_3_6Uyw row">
                            <td class="_2k4JXJ col col-12-12">
                              <ul>
                                <li class="_3YhLQA">Product information provided by the seller on the Website is not exhaustive, please read the label on the physical product carefully for complete information provided by the manufacturer. For
                                  additional
                                  information, please contact the manufacturer.</li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/javascripts/item.js">

    </script>


    </div>






  </section>



</body>
<%- include("footer")-%>

</html>
